<% provide(:title, 'New Advertisement') %>

<div class="form">
  <h1>Create a new advertisement</h1>
	<div>
		<%= form_for(@advertisement, url: board_advertisements_path) do |f| %>
		<%= render 'shared/error_messages', object: f.object%>

      	<%= f.label :width %>
      	<%= f.text_field :width %>

      	<%= f.label :height %>
      	<%= f.text_field :height %>

      	<%= f.label :x_location, "X Location" %>
      	<%= f.text_field :x_location %>

      	<%= f.label :y_location, "Y Location" %>
      	<%= f.text_field :y_location %>

        <%= f.label :image_contents, "Image" %>
        <%= f.file_field :image_contents %>

      	<% #@user = current_user %>
      

      <%= f.submit "Create advertisement", class: "btn btn-large btn-primary" %>
    <% end %>
	</div>
</div>
			

